{% extends 'layout.html' %}
{% block content %}
    <div class="jumbotron hidden-sm hidden-md" style="background-color: #95dfe9;">
    
        <img src="static/profile_pics/school.jpg" class="pull-left" style="width: 180px; height: 150px; margin-top: -37px;">
    
        <span style="font-size: 52px; vertical-align: middle; padding-left: 60px; color: #947625;">Sydney Uyghur Language School</span>
        
    </div>
    
    
    
    
    <div class="row">
        <div class="col-md-8 pt-3" style="margin-top:30px">                                
            <div class="row row-cols-2">
                <div class="col-10">
                    <h2>Our School</h2>

                        Established in 1992 the Uyghur Language School has been a source of community and 
                        education for countless students.Established for the greater East Turkistan 
                        community the Uyghur Language School has sought to teach in an engaging way 
                        the language and customs of East Turkistan. The school participates in a number
                        of cultural activities ie dancing, plays, sports; in order to unite people 
                        interested in East Turkistan culture and language.
                </div>
                <div class="col-10 pt-3" style="margin-top:30px">
                    <h2>Our Aims</h2>

                        We aim to develop an environment where children can learn with interest and 
                        at the same time develop a sense of belonging to Uyghur/Eastern Turkistani 
                        Culture.Foster a sense of identity among the people of East Turkistan work
                        to sustain and develop our language and express and share our cultural heritage 
                        for the benefit of the wider Australian community.
                </div>

             
            </div>
        </div>
      
        <div class="col-md-4" style="margin-top:80px">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">                           
                        <li class="list-group-item list-group-item-light"><a href="#">Announcements</a></li>
                        <li class="list-group-item list-group-item-light"><a href="#">Upcoming Events</a></li>
                        <li class="list-group-item list-group-item-light"><a href="#">Recommended movies</a></li>
                        <li class="list-group-item list-group-item-light"><a href="#">Holiday Places</a></li>
                    </ul>
                </p>
            </div>
        </div>
    
    </div>
    <div class="jumbotron" style="margin-top:40px">
        <h2 class="text-danger" style="margin-bottom:30px; margin-top: -20px;">Announcements</h2>
        <h4 class="text-success">Upcoming activities:</h4>
        You are invited to the Navruz Event on 21st March (sunday),
         which is hosted by our school and other two Austrailian Uyghur 
         associations.</br>
         Address: 42 Mawson drive, Cartwright</br>
         Time: 10am - 4pm</br>
         Dress-code: Cultural Clothing</br>


    </div>

{% endblock content %}


