{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center", style="height: 45vh">
                <div style="width: 600px; height: auto;">
                    <div class="content-section">
                        <h1>Oops. Page Not Found (404)</h1>
                        <p>That page does not exist. Please try a different location</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}






























