{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center", style="height: 45vh">
                <div style="width: 600px; height: auto;">
                    <div class="content-section">
                        <h1>Something went wrong (500)</h1>
                        <p>We're experiencing some trouble on our end. Please try again in the near future</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}










