{% extends 'layout.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Sydney Umit Uyghur Language School</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col col-sm-12 col-xs-12">
                <h2>Our School</h2>
                Established in 1992 the Uyghur Language School has been a source of community and 
                education for countless students.Established for the greater East Turkistan 
                community the Uyghur Language School has sought to teach in an engaging way 
                the language and customs of East Turkistan. The school participates in a number
                of cultural activities ie dancing, plays, sports; in order to unite people 
                interested in East Turkistan culture and language.
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-12 col-xs-12">
                <h2>Our Aims</h2>
                We aim to develop an environment where children can learn with interest and 
                at the same time develop a sense of belonging to Uyghur/Eastern Turkistani 
                Culture.Foster a sense of identity among the people of East Turkistan work
                to sustain and develop our language and express and share our cultural heritage 
                for the benefit of the wider Australian community.

            </div>
        </div>


    
    </div>
{% endblock content %}


